input: /srv/ftp.debian.org/web/removals.txt
items: 16
titlelength: 80

title: Removals from Debian
link: https://ftp-master.debian.org/removals.txt
description: List of all the removals from Debian's archives
subject: Removals from Debian
creator: tfheen@debian.org
publisher: joerg@debian.org
rights: Copyright 2005, Tollef Fog Heen
language: en-us
