[run]
branch = True
omit =
  *_boot*.py
  */lib/python*/*
  */dist-packages/*
  */tests/*
source = .
concurrency = multiprocessing

[report]
exclude_lines =
  pragma: no cover
  if __name__ = .__main__.:
