*.pyc
*~
.coverage
cover/
web/epydoc/
web/d-i
web/deferred.html
web/deferred/
web/dm-uploaders.html
web/dm-uploaders.txt
web/ftpsync.tar.gz
web/i18n
web/mirrorstart
web/new.822
web/new.html
web/new/
web/removals-full.txt
web/removals.html
web/removals.txt
web/rss/NEW_in.rss
web/rss/NEW_out.rss
web/rss/removals.rss
web/rsyncstats.txt
web/size-quarter.png
web/stat/
web/transitions.yaml
web/cruft-report-daily.txt
web/pseudo-packages.*
web/licenses/
