input: /srv/backports-web.debian.org/underlay/removals.txt
items: 16
titlelength: 80

title: Removals from Debian Backports
link: http://backports-master.debian.org/dak/removals.txt
description: List of all the removals from Debian's Backport archives
subject: Removals from Debian Backports
creator: tfheen@debian.org
publisher: joerg@debian.org
rights: Copyright 2005, Tollef Fog Heen
language: en-us
