Source: dak
Section: misc
Priority: extra
Build-Depends: python-all-dev
Maintainer: Debian FTP-Masters <ftpmaster@debian.org>
Uploaders: Mark Hymers <mhy@debian.org>, Joerg Jaspert <joerg@debian.org>, Torsten Werner <twerner@debian.org>
Standards-Version: 3.9.2

Package: dak
Architecture: all
Depends: ${python:Depends}, python-psycopg2, python-sqlalchemy, python-apt,
         gnupg, dpkg-dev, lintian, binutils-multiarch, python-yaml, less,
         python-ldap, python-pyrss2gen, python-rrdtool, symlinks
Description: Debian's archive maintenance scripts
 This is a collection of archive maintenance scripts used by the
 Debian project.
