Source: katie
Section: misc
Priority: extra
Build-Depends: postgresql-dev, libapt-pkg-dev
Maintainer: James Troup <james@nocrew.org>
Standards-Version: 3.2.1

Package: katie
Architecture: all
Depends: python, python-pygresql, python-zlib, python-apt, apt-utils, gnupg (>= 1.0.4-1), postgresql (>= 7.0.3-1)
Suggests: lintian, binutils-multiarch
Description: Debian's archive maintenance scripts
 This is a collection of archive maintenance scripts used by the
 Debian project.
