Explanation of configuration files options for katie
====================================================

DB
--

Essential.  List of database details, e.g.

| DB
| {
|   Name "projectb";
|   Host ""; 
|   Port -1;
| };

If the database is local, Host should be blank.  If the port is the
default (5432), it should be set to -1.

================================================================================

Dir
---

Mandatory.  List of directory locations, e.g.

| Dir
| {
|   RootDir "/org/ftp.debian.org/ftp/";
|   PoolDir "/org/ftp.debian.org/ftp/pool/";
|   TemplatesDir "/org/ftp.debian.org/katie/templates/";
|   PoolRoot "pool/";
|   IncomingDir "/org/ftp.debian.org/incoming/";
|   OverrideDir "/org/ftp.debian.org/scripts/override/";
|   ListsDir "/org/ftp.debian.org/database/dists/";
|   LogDir "/org/ftp.debian.org/log/";
|   Morgue "/org/ftp.debian.org/morgue/";
| };

================================================================================

Suite
-----

Mandatory.  List of all suites, e.g. 

| Suite
| {
|   Unstable
|   {
| 	Components 
| 	{
| 	  main "";
| 	};
| 	Architectures 
| 	{
| 	  "source" ""; 
| 	  "all" "";
| 	  "i386" "";
| 	};
| 	Announce "debian-devel-changes@lists.debian.org";
| 	Origin "Debian";
| 	Description "Debian Unstable - Not Released";
| 	CodeName "sid";
| 	OverrideCodeName "sid";
| 	Priority "5";
|   };
| };

Announce controls where "Installed foo" mails are sent; leave empty to
not send any.  CodeName, Origin and Description are used by ziyi and
put in the Release files.  OverrideCodeName is used by Denise.
Priority determines which suite is used for the Maintainers file as
generated by charisma/da_mkmaintainers (highest wins).

================================================================================

Dinstall
--------

Mandatory.  List of dinstall options, e.g.:

| Dinstall
| {
|    PGPKeyring "/org/keyring.debian.org/keyrings/debian-keyring.pgp";
|    GPGKeyring "/org/keyring.debian.org/keyrings/debian-keyring.gpg";
|    SigningKeyring "/org/ftp.debian.org/s3kr1t/dot-gnupg/secring.gpg";
|    MyEmailAddress "Debian Installer <installer@ftp-master.debian.org>";
|    MyAdminAddress "ftpmaster@debian.org";
|    MyHost "debian.org";  // used for generating user@my_host addresses in e.g. manual_reject()
|    MyDistribution "Debian";
|    BugServer "bugs.debian.org";
|    PackagesServer "packages.debian.org";
|    NewAckList "/org/ftp.debian.org/katie/log";
|    LockFile "/org/ftp.debian.org/katie/lock";
|    Bcc "archive@ftp-master.debian.org";
|    GroupOverrideFilename "override.group-maint";
| };

PGPKeyring and GPGKeyring are mandatory fields which are filenames of
the PGP and GnuPG keyrings to be used by katie respectively.

SigningKeyring is the private keyring used by ziyi.

MyEmailAddress is used as the From: line for sending mails as a
script/daemon.  MyAdminAddress is used as a contact address in mails.

MyDistribution is used in emails sent out by katie and others.

BugServer is used by katie and melanie when closing bugs.

PackagesServer is used by melanie when carbon-copying a bug close mail
to a package maintainer.

NewAckList is a mandatory field and contains the filename of list of
NEW packages dinstall knows about and is used when dinstall is running
in -k/--ack-new mode (usually in the daily cron run).

LockFile is a mandatory field and contains the filename of the
lockfile used by dinstall when in action mode (i.e. not using
-n/--no-action).

All sent mail is blind carbon copied to the email
address in Bcc if it's not blank.  

GroupOverrideFilename, if non-blank, is the override file which
contains the list of email addresses which, if part of the Maintainer
field, cause uploads to always be treated as maintainer uploads.

================================================================================

Archive
-------

Mandatory.  List of all archives, e.g.

| Archive
| {
|   ftp-master
|   {
|     OriginServer "ftp-master.debian.org";
|     PrimaryMirror "ftp.debian.org";
|     Description "Master Archive for the Debian project";
|   };
| };

OriginServer and PrimaryMirror are mandatory and are used melanie's
bug closing mail templates.  The host name and it's OriginServer and
Description are part of the SQL database in the 'archive' table.

================================================================================

Architectures
-------------

Mandatory.  List of all architectures, e.g.

| Architectures
| {
|   source "Source";
|   all	   "Architecture Independent";
|   i386   "Intel ia32";
| };

Both values go into the SQL database's 'architecture' table.
Description is currently unused.

================================================================================

Component
---------

Mandatory.  List of all components, e.g.

| Component
| {
|   main
|   {
| 	Description "Main";
| 	MeetsDFSG "true";
|   };
| };

All three values go into the SQL database's 'component' table.
MeetsDFSG is currently unused.

================================================================================

Section
-------

Mandatory.  List of all valid sections, e.g.

| Section
| {
|   base "";
| };

The section goes into the 'section' table in SQL database.

================================================================================

Priority
--------

Mandatory.  List of all valid priorities, e.g.

| Priority
| {
|   required 1;
|   important 2;
|   standard 3;
|   optional 4;
|   extra 5;
|   source 0; // i.e. unused
| };

The value is the sorting key.  Both the section and it's sorting key
go into the SQL database's 'priority' table.

================================================================================

OverrideType
------------

Mandatory.  List of al valid override types, e.g.

| OverrideType
| {
|   deb "";
|   dsc "";
|   udeb "";
| };

The type goes into the 'override_type' table in the SQL database.

================================================================================

Location
--------

Mandatory.  List all locations, e.g.

| Location
| {
|   /org/ftp.debian.org/ftp/pool/
|     {
|       Archive "ftp-master";
|       Type "pool";
|     };
| };

There are three types: 'legacy', 'legacy-mixed' and 'pool'.  'legacy'
and 'pool' are assumed to have sections for all components listed in
the Components section 'legacy-mixed' are assumed to mix all
components into one location.  The Archive and Type sections go into
the SQL database's 'location' table.

[Note: yes, this is horrible, it dates back to the original `import
       the existent archive into the SQL Database' script (neve) and
       isn't otherwise used.  It should be revisted at some stage.]

================================================================================

-- 
James Troup <james@nocrew.org>, Horsforth, Leeds
Wed, 26 Sep 2001 03:20:39 +0100
