# vim:syntax=yaml:

# Dont use tabs for indentation, use spaces.
# Or if you use tabs - use them throughout the file. One style of
# indentation pleae, not multiple.
#
# Strings should be within "", but normally work without.
# Exception: Version-numbers with an epoch really do want to be in ""
#
# keys:
#
# short_tag:    A short tag for the transition, like apt_update
#   reason:     One-line reason what is intended with it
#   source:     Source package that needs to transition
#   new:        New version of the target package
#   rm:         Name of the Release Team member responsible for this transition
#   packages:   Array of package names that are affected by this transition
#
#
# The following example wants to update apt to version 0.7.12, the
# responsible Release Team member is Andreas Barth, and it affects some
# apt related packages.

apt_update:
  reason: "Apt needs to transition to testing to get foo and bar done"
  source: apt
  new: 0.7.12
  rm: Andreas Barth
  packages:
    - apt
    - synaptic
    - cron-apt
    - debtags
    - feta
    - apticron
    - aptitude
foo_broken:
  reason: "Something else thats broken"
  source: foo
  new: 1.3-1
  rm: Someone
  packages:
    - foo
    - baz
    - bar
bar_breaks_it:
  reason: We dont want bar to break it
  source: bar
  new: "9:99"
  rm: Ganneff
  packages:
    - kdelibs
    - qt4-x11
    - libqt-perl
